In [1]:
'This is a string'

'This is a string'

In [2]:
"This is also a sting" # be consistent with quotation marks single or double

'This is also a sting'

In [ ]:
"let's see if this works now" #apostrophe embedded words need to closed in double quotations

In [3]:
'''
I am a multiline string

I'm very useful for documenting functions
and for storing longer texts.

And you don't have to worry about apostrophes or "quote"s!
'''

'\nI am a multiline string\n\nI\'m very useful for documenting functions\nand for storing longer texts.\n\nAnd you don\'t have to worry about apostrophes or "quote"s!\n'

In [ ]:
# some escape sequences don't require a print statement for proper interpretation within a string
# some do require a print statement

In [4]:
'\t This is a tab !' # this doesn't work. It will show the quotation and backslash

'\t This is a tab !'

In [5]:
print('\t This is a tab !') # adding print works

	 This is a tab !

In [ ]:
# carriage return character: ised to move the cursor or print position back to the beginging of the
# current line without advancing to the next line

# commonly used in console output to overwrite or update text on the same line (instead of printing
# to a new line)

In [6]:
print('This is a very good \r example')

 examplea very good

In [1]:
4 + 4 #opperator behaves differently

8

In [2]:
'hello' + 'world'

'helloworld'

In [3]:
4.0 * 3.0

12.0

In [4]:
'ha' * 3

'hahaha'

In [5]:
'This year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [6]:
'apple' == 'Apple'

False

In [7]:
'apple' != 'Apple'

True

In [8]:
'20' == 20

False

# Slicing single characters

In [11]:
first_name = 'Ada'
last_name = 'Lovelace'

In [13]:
first_name

'Ada'

In [14]:
last_name

'Lovelace'

In [ ]:
# Things to remember:
# zero-indexed, this means the first character is at index 0
# slices do not include the chracter at the ending index positions

In [15]:
first_name[0] # Ada - 'A' is indexed at 0, 'd' = 1, 'a' = 2

'A'

In [16]:
last_name[0] # Lovelace - L = 0, o = 1, v = 2 ...

'L'

In [17]:
last_name[0:4] # slicing a range of index; this means '0' upto but not including '4'

'Love'

In [20]:
first_name[0:2]

'Ad'

In [ ]:
# if you don't have a starting index, it will slice from the beginning
# if you don't have an ending index it will slice to the end

In [21]:
first_name[:1]

'A'

In [22]:
last_name[4:]

'lace'

In [24]:
phone_number = '+1 555-123-4567'

phone_number[3:6]

'555'

In [25]:
# negative indices can also be used to slice from the end
phone_number[-4:]

'4567'

# Strings and functions

In [ ]:
# sting methods work only on strings
# methods are called differently from other functions

In [26]:
'I am not yelling'.upper()

'I AM NOT YELLING'

In [28]:
'This string is unusaleee'.count('e')

3

In [29]:
'file_name.csv'.endswith('csv')

True

In [30]:
'long file name with spaces.csv'.replace(' ', '_')

'long_file_name_with_spaces.csv'

# Formatting strings

In [ ]:
# .format() method: string method makes it easier to combine text with other data. 
#  We can create text templates with curly braces ({}), then pass values in

# allows for string formatting by specifiying
# placeholders {} within the strong and providing values to replace 
# those placeholders

In [ ]:
# f-string: allows for more concise and reable string interpretation
# by directly embedding expressions within the string

In [31]:
f'Ada Lovelace\'s initials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's initials are A. L."

In [32]:
fruit = 'kiwi'
f'My favorite fruit is {fruit}'

'My favorite fruit is kiwi'

# Converting between types

In [33]:
# string to integer
int('17')

17

In [34]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [35]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

In [36]:
# sting to a float

In [37]:
float('892')

892.0

In [38]:
float('you')

ValueError: could not convert string to float: 'you'

In [39]:
# float and int to string
str(37.5)

'37.5'

In [40]:
str(20)

'20'

In [41]:
'20' + str(37.5)

'2037.5'

In [42]:
'The year is ' + 2020

TypeError: can only concatenate str (not "int") to str

# Getting user input

In [43]:
age = input('How old are you? ')

In [44]:
age

'100'

In [47]:
age_next_bday = int(age) + 1
age_next_bday

101

# Logic Operators

In [48]:
# not: negate the truth value of the statement
# and: check if the statements on both sides are true
# or: check if at least one of the statements are true

In [49]:
not True

False

In [50]:
not False

True

In [51]:
3 == 3

True

In [52]:
not (3 == 3) # need to add the parentheses
# python considers integer 0/float 0.0 to be False and every other 
# non-zero integer /float 
# (including negative numbers) are True

False

In [53]:
100 + True # true is evaluated as 1

101

In [54]:
100 + False # flase is evaluated as 0

100

In [55]:
# if both opperands are true the result will be true
(7 == 7.0) and (32 > 9)

True

In [56]:
7 == 7.0 # implicitly converting one of te operands to the 
# type of the other operand before performing the comparison

True

In [57]:
32 > 9

True

In [58]:
('Python' == 'python') and True

False

In [59]:
'Python' == 'python' # capital p and lower case p are not the same
# false and true statement lead to a false

False

In [62]:
is_summer = True
is_sunny = True
is_summer and is_sunny

True

# To avoid confusion behavior, and ensure consistent behaviour, it's recommended to use boolean values explicity

In [75]:
# return the frist falsy valye encountered or the last truthy value
# id all operands are true based on the conditions proviced 

is_winter = "True" # strong with the value "True"
is_cloudy = True # boolean wiht the value True

In [76]:
# non-empty strong is truthy in Python

is_winter and is_cloudy

True

In [77]:
is_cloudy and is_winter

'True'

In [78]:
learning_support_1 = 'Julia'
learning_support_2 = 'Keli'

In [79]:
learning_support_1 and learning_support_2

'Keli'

In [80]:
# 0 is considered falsy
# non-zero is considered truthy
0 and 5

0

In [81]:
4 and 5

5

In [82]:
5 and 0

0

In [83]:
5 and 6 and 7

7

In [84]:
5 and 6 and 0

0

In [ ]:
# or statement 
# is a minimum of 1 is true you will get a true back
# opposite of and opperator

In [85]:
('Python' == 'python') or True

True

In [86]:
'Python' == 'python'

False

In [87]:
(6 < 2) or (7 != 7)

False

In [88]:
6 < 2

False

In [89]:
7 != 7

False

In [92]:
# or opperator is going ot return the first truthy value encountered or 
# the last falsey value is all operands are 'Flase'

100 or 0 # 100 is a non-zero value which is true and 0 is false so it will return the first value

100

In [91]:
0 or 0 # the last falsey value so 0 will be returned

0

In [93]:
0 or ""

''

In [94]:
not (7 % 2 == 1) or False

False

In [95]:
7 % 2

1

In [96]:
1 == 1

True

In [97]:
not True

False

In [98]:
False or False

False

# Control Flow

In [99]:
year = 2020

if year >= 2000:
    print('We are in the 21st century')

We are in the 21st century

In [102]:
year = 1980

if year >= 2000:
    print('We are in the 21st century')

In [104]:
year = 1980

if year >= 2000:
    print('We are in the 21st century')
else:
    print('We are not in the 21st century')

We are not in the 21st century

In [107]:
year = 1800

if year >= 2000:
    print('We are in the 21st century') # not true condition
elif year >= 1900:
    print('We are in the 20th century') # not true condition
elif year >= 1800:
    print('We are in the 19th century') # true condition so it will print this statement and ignore the rest of the statements below
else:
    print('We have gone way back in time!')

We are in the 19th century

In [128]:

# writing an if statement to return a true output
night = True
Thing = True

if night and Thing:
    print('True')
else:
    print('False')

'night' != 'Thing' # other method for a true statement

True

True

In [112]:
'Silent' != 'listen'

True

In [111]:
'Silent' != 'Night'

True

In [114]:
'night' != 'Thing'

True

In [116]:
'Silent' == 'Night'

False