In [77]:
print(2-2)

0

In [78]:
print(2+2)

4

In [79]:
5+6

11

In [80]:
2.5*3.0

7.5

In [81]:
5/2 #division operator, return a float

2.5

In [82]:
10//3 #floor division operator

3

In [83]:
10/3

3.3333333333333335

In [84]:
50 < 25

False

In [85]:
10//6

1

In [86]:
10%3 #modulo of reminder

1

In [87]:
10**3 #exponentiation

1000

In [88]:
10==11

False

In [89]:
10!=5

True

In [90]:
not(True)

False

In [91]:
15!=True

True

In [92]:
(4**2)+2==6

False

In [93]:
4**2+2

18

In [94]:
2+4**2

18

In [95]:
4**(2+2)

256

In [96]:
(2+2)*2-2==6

True

In [97]:
degrees_celcius = 25
Degrees_Celcius = 30

In [98]:
degrees_celcius

25

In [99]:
Degrees_Celcius

30

In [100]:
degrees_fahrenheit = (9 / 5) * degrees_celcius + 32

In [101]:
degrees_fahrenheit

77.0

In [102]:
degrees_celcius = 0

In [103]:
degrees_celcius

0

In [111]:
degrees_fahrenheit

77.0

In [112]:
degrees_celcius

40

# Hello!
## I'm a financial analyst.
We have **good time**

In [113]:
degrees_celcius

40

In [121]:
degrees_celcius = 0

In [124]:
degrees_celcius

0

In [126]:
degrees_celcius = degrees_celcius + 10
degrees_celcius

20

In [128]:
degrees_celcius = degrees_celcius - 1

In [130]:
degrees_celcius

18

In [132]:
keylie = 1

In [134]:
lau = 2

In [139]:
julia = keylie + lau

In [141]:
julia

3

In [143]:
keylie = keylie + 50

In [145]:
keylie

101

In [148]:
a = 1
a

1

In [150]:
b = 1
b

1

In [152]:
print(id(a))

1794918738224

In [154]:
print(id(b))

1794918738224

In [156]:
a = 2

In [158]:
print(id(a))

1794918738256

In [160]:
a = 1

In [162]:
b = a

In [164]:
print(id(a))

1794918738224

In [168]:
print(id(b))

1794918738224

In [170]:
a = 2

In [172]:
b

1

In [174]:
print(id(a))

1794918738256

In [176]:
print(id(b))

1794918738224

In [178]:
a=2

In [181]:
b

1

In [183]:
print(id(b))

1794918738224

In [189]:
dinner = "pasta"
lunch = dinner
print(dinner)
      
print(lunch)

dinner = "pizza"

print(dinner)
print(lunch)

lunch = dinner

print(lunch)

pasta
pasta
pizza
pasta
pizza

In [191]:
degrees_celcius = degrees_celcius + 10
degrees_celcius = 0
degrees_celcius += 10

In [192]:
degrees_celcius

10

In [193]:
days_of_the_year = 375
days_of_the_year -= 10

In [195]:
days_of_the_year

365

In [196]:
float(10)

10.0

In [199]:
float(10)

10.0

In [200]:
dsi = 3
dsi = dsi + 10

In [201]:
monday += 10

NameError: name 'monday' is not defined

In [202]:
# annotate code
# used

# this is a comment that is not evaluated

In [208]:
"""
This entire block 
is
ignored
by
the
interpreter
"""

# x = 1
# y = 2

'\nThis entire block \nis\nignored\nby\nthe\ninterpreter\n'

In [209]:
tuesday = (10 + 2
           * 2 + 6)

dsi = 3
dsi = dsi + 10