In [2]:
print(type(3))

<class 'int'>

In [3]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [5]:
type(3)

int

In [6]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 880
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148293632
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [7]:
print(type(3))

<class 'int'>

In [8]:
type(3)

int

In [9]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [10]:
# degrees_fahrenheit =  (9 / 5) * degrees_celsius + 32

In [39]:
def c_to_f(degrees_c):
    degrees_f = degrees_c * 9/5 + 32
    return degrees_f

hot = c_to_f(100)
print(hot)

212.0

In [14]:
def c_to_f(degrees_c):
    return degrees_c * 9/5 + 32

c_to_f(150)

302.0

In [19]:
def divide(dividend, divisor):
    return dividend / divisor

divide(10, 2)

5.0

In [20]:
def calc_sales_tax(price, tax_rate=0.13):
    return price * tax_rate

In [21]:
calc_sales_tax(5)

0.65

In [22]:
calc_sales_tax(5, 0.08)

0.4

In [30]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax = tax_rate * price
    tip = tip_rate * price
    return price + tax + tip

In [31]:
calc_total_bill(100) # using all defaults

128.0

In [32]:
calc_total_bill(100, 0.22)

137.0

In [34]:
calc_total_bill(100, tip_rate=0.22)

135.0

In [35]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [36]:
def c_to_f(degrees_c):
    """Converts Celsius to Fahrenheit"""
    degrees_f = degrees_c * 9/5 + 32
    return degrees_f

c_to_f(100)

212.0

In [37]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Converts Celsius to Fahrenheit

In [ ]:
# function name and parameters --> function header
# '''docstring''' --> function documentation
# body of the function --> function body, code that the function will execute
# return --> specifies what the output of the function should be, if no return statement it will return None

# Variable Scope
# Global variable --> variable that is defined outside of a function
# Local variable --> variable that is defined inside of a function
# parameters are locally scoped variables --> they are only accessible inside of the function they were defined in
# global variables --> they are accessible from anywhere in the program

In [40]:
def is_number_even(number):
    return number % 2 == 0

In [41]:
is_number_even(5)

False

In [43]:
assert is_number_even(50)

In [44]:
is_number_even

In [45]:
number

NameError: name 'number' is not defined

In [46]:
'The year is' + 2020

TypeError: can only concatenate str (not "int") to str

In [48]:
'hello' + ' ' + 'world'

'hello world'

In [49]:
"apple" == "Apple"

False

In [50]:
'ha' * 3

'hahaha'

In [61]:
'This isn\'t my birthday! Tomorrow is my bithday'

"This isn't my birthday! Tomorrow is my bithday"

In [62]:
"20" == 20

False

In [65]:
first_name = 'Ada'
last_name = 'Lovelace'

print('Initials are' + first_name[0] + last_name[0])

Initials areAL

In [64]:
last_name[2:4]

've'

In [66]:
first_name[1]

'd'

In [67]:
last_name[:7]

'Lovelac'

In [68]:
len(last_name)

8

In [70]:
phone_number = '+1 555-123-4567'
phone_number[3:6]

'555'

In [71]:
phone_number[-4:]

'4567'

In [74]:
job_qualifincations = '''The successful applicant will be proficient in R, 
Python, SQL, statistics, and data visualization'''

In [75]:
'R' in job_qualifincations

True

In [76]:
'Javascript' in job_qualifincations

False

In [79]:
print(1, 'fish', 2, 'fish')

1 fish 2 fish

In [80]:
len("Helloooooooooooooooooooo")

24

In [87]:
sorted("hellooo")

['e', 'h', 'l', 'l', 'o', 'o', 'o']

In [82]:
# Sting methods only work on strings - not on integers, floats, or booleans.
# Methods are called differently from other functions. 


yell ='I am not yelling'
yell.upper()

'I AM NOT YELLING'

In [83]:
yell.count('l')

2

In [84]:
'file_name.txt'.endswith('.txt')

True

In [85]:
file_name = 'file_name.txt'
file_name.endswith('.txt')

True

In [86]:
'long file name with lots and lots of space.csv'.replace(' ', '_')

'long_file_name_with_lots_and_lots_of_space.csv'

In [89]:
first_name =  'Ada'
last_name = 'Lovelace'

In [92]:
'Ada Lovelace\'s inials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's inials are A. L."

In [93]:
lunch = "hot dog"
dinner = "ramen"

"For lunch I want {} and for dinner I want {}.".format(lunch, dinner)

'For lunch I want hot dog and for dinner I want ramen.'

In [94]:
f'Ada Lovelace\'s inials are {first_name[0]}. {last_name[0]}.'

"Ada Lovelace's inials are A. L."

In [99]:
snack = 'carrot'
f'My favourite scan are {snack}'

'My favourite scan are carrot'

In [100]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [102]:
help(lower(self,/))

SyntaxError: invalid syntax (2309570759.py, line 1)

In [103]:
float('892')

892.0

In [104]:
float('you')

ValueError: could not convert string to float: 'you'

In [105]:
int('11')

11

In [106]:
str(20)

'20'

In [107]:
str(34.7)

'34.7'

In [108]:
'20' + str(37.5)

'2037.5'

In [114]:
age = input('How old are you? ')
age

'52'

In [115]:
age_next_bday = int(age) + 1

In [116]:
age_next_bday

53

In [117]:
print('Next birthday you will be {}'.format(age_next_bday))

Next birthday you will be 53

In [118]:
print(f'Next birthday you will be {age_next_bday}')

Next birthday you will be 53

### not operator

In [120]:
not True

False

In [122]:
not False

True

In [123]:
3 == 3

True

In [124]:
not (3 == 3)

False

### 'and' operator

In [125]:
True and True

True

In [126]:
False and True

False

In [127]:
False and False

False

In [128]:
7 == 7 and 32 > 0

True

In [129]:
6 == 7 and 32 > 0

False

### 'OR' operator

In [132]:
6 == 7 or 32 > 0

True

In [133]:
True or False

True

In [134]:
False or True

True

In [135]:
False or False

False

In [136]:
True or True

True

In [137]:
180 < 20 or 8 == 8

True

In [138]:
6 != 6 or 7 < 10

True

In [140]:
'word1' == 'word1'

True