In [1]:
print("Hello World")

Hello World

# Hello! My name is Dmytro
## And I'm a DSI student

We have a great team of **test**

In [4]:
print(2+2)

4

int -> interetion, whole numbers

float -> decimal numbers, floating point data type 

text bool -> true or False

strings -> text

In [7]:
5 + 6
print(type(5 + 6))

<class 'int'>

In [8]:
type(5+6)

int

In [9]:
5 / 2 # division operator

2.5

In [10]:
10 // 3 # floor division operator

3

In [14]:
print(10 / 3)
print(type(10 / 3))

3.3333333333333335
<class 'float'>

In [15]:
10 % 3 # modulo or remainder

1

In [17]:
10 ** 3

1000

In [21]:
round(10 / 3,1)

3.3

In [22]:
True

True

In [23]:
False

False

In [24]:
5 == 6

False

In [25]:
50 > 25

True

In [27]:
50 < 25

False

In [29]:
-15 >= -14.99

False

In [30]:
-15 <= -14.99

True

In [31]:
20 == 20

True

In [32]:
12 != 4

True

In [33]:
not True

False

In [34]:
4 ** 2

16

In [38]:
16 + 2

18

In [37]:
4 ** 2 + 2 == 6

False

In [39]:
(2 + 2) * 2 - 2 == 6

True

In [40]:
# negation
-(2 + 2) * 2 - 2 == 6

False

Variable names
- Can include letters, digits, and underscores
- Cannot start with a digit
- Are case sensitive

In [43]:
degrees_celsius = 25
Degrees_Celsius = 30

In [44]:
degrees_celsius

25

In [46]:
Degrees_Celsius

30

In [49]:
degrees_celsius
Degrees_Celsius

30

In [59]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [56]:
degrees_fahrenheit

77.0

In [65]:
degrees_celsius = 0

In [60]:
degrees_fahrenheit

32.0

In [66]:
degrees_celsius = degrees_celsius + 10
degrees_celsius

10

In [67]:
degrees_celsius = degrees_celsius - 1

In [68]:
degrees_celsius

9

In [74]:
degrees_celsius = 0
for degrees_celsius in range(0, 101, 10):
    degrees_celsius = degrees_celsius
    degrees_fahrenheit = (degrees_celsius * 9 / 5) + 32
    print(degrees_celsius, degrees_fahrenheit)

0 32.0
10 50.0
20 68.0
30 86.0
40 104.0
50 122.0
60 140.0
70 158.0
80 176.0
90 194.0
100 212.0

In [75]:
kaylie = 1

In [76]:
lau = 2

In [77]:
julia = kaylie + lau

In [78]:
julia

3

In [79]:
kaylie = 100

In [80]:
julia

3

In [81]:
kaylie = kaylie + 50

In [82]:
kaylie

150

In [83]:
a = 1

In [84]:
print(id(a))

2117927790896

In [85]:
a = 2

In [86]:
print(id(a))

2117927790928

In [87]:
a = 1

In [88]:
b = a

In [89]:
print(id(a))

2117927790896

In [90]:
print(id(b))

2117927790896

In [91]:
a = 2

In [92]:
b

1

In [93]:
print(id(a))

2117927790928

In [95]:
print(id(b))

2117927790896

In [98]:
dinner = "pasta"
lunch = dinner
print(dinner)
print(lunch)

dinner = "pizza"
print(dinner)
print(lunch)

pasta
pasta
pizza
pasta

In [105]:
# degrees_celsius = degrees_celsius + 10
degrees_celsius = 0
degrees_celsius += 10 # this is more concise than the line above
degrees_celsius

10

In [106]:
days_of_the_year = 375
days_of_the_year -= 10

In [108]:
days_of_the_year

365

In [109]:
3 * "hello"

'hellohellohello'

In [118]:
degrees_celsius = 0
degrees_celsius += 10.1 # this is more concise than the line above

degrees_celsius

10.1

In [120]:
monday = 7
monday += 10

In [124]:
# Syntax Errors
# when the program contains code that isn't valid Python syntax
12 = x

SyntaxError: cannot assign to literal (3700022645.py, line 3)

In [126]:
15 -

SyntaxError: invalid syntax (4144846216.py, line 1)

In [127]:
# Name Errors
my_variable + 1

NameError: name 'my_variable' is not defined

In [128]:
# annoate code
# used to explain parts of code to human audiences

# this is a comment
# it is not evaluated when we run the code

In [135]:
"""
This entire block
is
ignored
by the
interpreter
"""
x = 2

In [136]:
'''
test
'''

'\ntest\n'

In [137]:
# ctrl + / to comment multiple lines at once
# y = 1
# x = 2

In [140]:
# White space: 
# # a space to either side of an operand; 
# # split code across lines by wrapping it in parentheses

tuesday = (10 + 2
           *2 + 6)

In [141]:
tuesday

20

In [142]:
# Comments:
# help explain setions of code
# Clear and consistent variable naming